program(1.3)
[buildInfo = dict<string, string>({{"coremlc-component-MIL", "3510.2.1"}, {"coremlc-version", "3505.4.1"}, {"coremltools-component-milinternal", ""}, {"coremltools-version", "9.0"}})]
{
    func main<ios18>(tensor<fp32, [1, {CH}, 1, {SP}]> x) {
        string to_fp16 = const()[name = string("to_fp16"), val = string("fp16")];
        tensor<fp16, [1, {CH}, 1, {SP}]> x16 = cast(dtype = to_fp16, x = x)[name = string("cast_in")];
        tensor<fp16, [1, {CH}, 1, {SP}]> sig = sigmoid(x = x16)[name = string("sig")];
        tensor<fp16, [1, {CH}, 1, {SP}]> y16 = mul(x = x16, y = sig)[name = string("silu")];
        string to_fp32 = const()[name = string("to_fp32"), val = string("fp32")];
        tensor<fp32, [1, {CH}, 1, {SP}]> y = cast(dtype = to_fp32, x = y16)[name = string("cast_out")];
    } -> (y);
}
